## Postgres
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres-n8n
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=postgres
DB_POSTGRESDB_PASSWORD=SUASENHAAQUI
DB_POSTGRESDB_SCHEMA=public

## Redis
QUEUE_BULL_REDIS_HOST=redis-n8n
QUEUE_BULL_REDIS_PORT=6379

## Gerais
N8N_RUNNERS_ENABLED=true
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
GENERIC_TIMEZONE=America/Sao_Paulo
N8N_BASIC_AUTH_ACTIVE=false
N8N_PORT=5678
NODE_ENV=production
N8N_EXPRESS_TRUST_PROXY=true
N8N_LOG_LEVEL=info
N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
NODE_FUNCTION_ALLOW_EXTERNAL=*
N8N_PROXY_MODE=allow

## Dominio
DOMAIN_NAME=SEU_DOMINIO
SUBDOMAIN=n8n

## Queue
EXECUTIONS_MODE=queue
OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true

## Webhooks
N8N_HOST=n8n.SEU_DOMINIO
N8N_PROTOCOL=http
WEBHOOK_URL=https://n8n.seu_dominio/